/* Viewtrip.css */
.background {
    background-image: url('https://static.toiimg.com/photo/70126811.cms'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    max-height: 190vh; 
    width: 100%; }
  



